//colours
$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #0fdd98;
$color-grey: #777;
$color-white: #fff;
$color-grey-light1: #D3D3D3;

//GRID
$grid-width: 100%;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT
$default-font-size: 1.6rem;