.Header{
   margin:auto;
   text-align: center;
   padding: 10px;

   img{
    object-fit: contain;
    margin-left: -9rem;
    position: absolute;
   }
   .header-text{
       margin-top: 22rem;
   }
}