.ItemContainer {
    margin-top: 4rem;
    width: 100%;
    border: solid 1px black;
    height: 20rem;

    &--left {
        float: left;
        width: 40%;
    }

    &--right {
        float: right;
        width: 60%;
    }
}
