.LoginPage{
    padding-top: 15rem;
    margin:auto;
    text-align: center;

    .text{
        button{
            margin:3rem;
            padding:2rem;
            padding-left:3rem;
            padding-right:3rem;

            text-transform: uppercase;

            background-color: white;
            border: 2px Solid $color-grey;
            border-radius: 1rem;
            box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);

            &:hover {
                background-color: $color-grey-light1;
                color: $color-white;
                transform: translateY(-0.3rem);
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
              }

            &:active {
            transform: translateY(-0.1rem);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            }
        }
    }
    
}