.Header {
  margin: auto;
  text-align: center;
  padding: 10px; }
  .Header img {
    object-fit: contain;
    margin-left: -9rem;
    position: absolute; }
  .Header .header-text {
    margin-top: 22rem; }

.NavLinks {
  margin-left: 2.5rem;
  list-style-type: none;
  overflow: hidden; }
  .NavLinks li {
    display: inline-block;
    padding: 1rem;
    font-size: 2rem;
    border-right: 2px Solid black; }
    .NavLinks li a {
      text-decoration: none; }
      .NavLinks li a:hover {
        text-decoration: underline;
        color: #777; }
      .NavLinks li a:visited {
        color: black; }
    .NavLinks li:last-child {
      border-right: none; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
  padding: 3rem; }

.row {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 8rem; }
  .row:last-child {
    margin-bottom: 0; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( (2 * (100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( (2 * (100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( (3 * (100% - 3 * 6rem) / 4) + 2 *6rem); }
